*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    font-family: Arial, Helvetica, sans-serif;
}

input:focus{
    outline: none;
}

.mainContainer{
    max-width: 1200px;
    margin: auto;
    background-color: black;
}
header{
    background-image: url('https://images3.alphacoders.com/812/812062.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 570px;
    display: flex;
    flex-direction: column;
}
nav{
    height: 100px;
    background-color: rgb(48, 48, 48);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color:  white;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover, .ativado{
    color: blueviolet;
    border-color: blueviolet;
}
.menuUser{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuUser img{
    cursor: pointer;
    margin-right: 15px;
}
.menuUser a{
    text-decoration: none;
    border: none;
    display: block;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 2px black;
}
.menuUser a:hover{
    color: red;
}
.menuinfos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    text-shadow: 2px 2px 2px black;
}
.menuNavigator a{
    margin: 0 15px;
}
.headTitle{
    color: white;
    font-weight: bolder;
    width: 600px;
    margin: auto;
    padding: 20px;  
    display: flex;
    flex-direction: column;
}
.headTitle h1{
    font-size: 60px;
    margin: 10px 0;
    text-shadow: 2px 2px 2px black;
}
.headTitle h2{
    font-size: 40px ;
    text-shadow: 2px 2px 2px black;
}
.headTitle p{
    font-size: 20px ;
    text-shadow: 2px 2px 2px black;
}
.headTitle button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(137, 43, 226);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
    justify-content: center;
    align-items: center;
}
.headTitle button:hover{
    background-color: rgb(162, 81, 238);
}
.conteudo1{
    height: 600px;
    background-color: black;
    display: flex;
}
.c1Img{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgBox{
    background-image: url('https://w0.peakpx.com/wallpaper/723/115/HD-wallpaper-tv-show-morty-smith-rick-sanchez-rick-and-morty-in-purple-background-with-stars-movies.jpg');
    background-position:center;
    background-size: cover;
    min-width: 600px;
    height: 400px;
    box-shadow: 2px 2px 2px black;
}
.c1Title{
    flex: 1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-indent: 40px;
    text-align: center;
}
.c1Title h1{
    margin-bottom: 40px;
    font-size: 70px;
    text-shadow: 3px 3px 3px purple;

}
.c1Title p{
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 1px;
}

.conteudoEpisodios{
    height: 600px;
    background-image: url('https://img.elo7.com.br/product/zoom/3613E17/papel-de-parede-rick-and-morty-colocar-papel-de-parede.jpg');
    background-position: center;
    background-size: cover;
}
.opacity{
    height: 600px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}
.opacity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opacity h1{
    font-size: 85px;
    text-shadow: 2px 2px 2px black;
}
.opacity h2{
    font-size: 75px;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
.opacity p {
    text-align:justify;
}
.texto{
    text-align: center;
    width: 600px;
}
.opacity button{
    height: 60px;
    width: 200px;
    border-radius: 10px;
    margin: 80px 40px 40px 0;
    border-color: black;
    background-color: rgb(253, 93, 120);
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.opacity button:hover{
    background-color: rgb(255, 143, 161);
}


.dados{
    height: 600px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.dados h1{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px greenyellow;
}
.dadosCima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
}
.dadosCima img{
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.dadosBaixo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxInfoSerie{
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgray;
    border-right: 1px solid lightgray;   
}
.boxInfoSerie:last-child{
    border-right: none;
}
.boxInfoSerie h1{
    font-size: 70px;
    
    text-shadow: 1px 1px 1px white;
}
.boxInfoSerie h2{
    font-size: 30px;
    border-bottom: 4px solid greenyellow;
    margin-bottom: 10px;
}
.userInfo{
    height: 600px;
    background-image: url('https://i0.wp.com/www.fatosdesconhecidos.com.br/wp-content/uploads/2018/01/rick_and_morty_by_sawuinhaff-da64e7y.png?fit=1280%2C750&ssl=1');
    background-position: center;
    background-size: cover;
}
.opacityUserInfo{
    height: 600px;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
    padding: 30px;
}
footer p{
    letter-spacing: 5px;
}
footer img{
    margin: 20px 20px;
}
footer img:hover{
    border-bottom: 1px solid white;
}
.techBox{
    padding: 20px;
}
.techBox p {
    color: rgb(226, 43, 195);
}
.techBox img{
    cursor: pointer;
    height: 40px;
}
.apiConsumida{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.apiConsumida a{
    margin-top: 20px;
    color: greenyellow;
    text-decoration: none;
    border: 1px solid greenyellow;
    padding: 10px;
}
.apiConsumida a:hover{
    color: lightgreen;
    border: 1px solid lightgreen;
}
.personArea {
    min-height: 500px;
    color: white;
    display: none;
}



.epArea{
    min-height: 500px;
    background-color: black;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}

.epGeral{
    display: none;
    flex-direction: column;
    display: none;
}

.epGeral nav{
    height: 350px;
    background-image: url('https://i0.wp.com/categorianerd.com/wp-content/uploads/2021/04/rick-and-morty-temporada-5-foto-adult-swim-conteudo-categoria-nerd-72204903.jpg?fit=1200%2C675&ssl=1');
}
.epOpacity{
    height: 350px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.epOpacity input{
    margin-bottom: 60px;
    width: 450px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}
.epOpacity a{
    margin: 0 15px;
}


.epBox{
    width: 230px;
    height: 150px;
    background: radial-gradient(circle, rgba(14,65,4,1) 0%, rgba(97,13,56,1) 100%);
    padding: 20px;
    margin: 0 20px;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    margin: 40px 10px;

}
.epBox h2{
    margin-bottom: 10px;
    color: greenyellow;
    text-shadow: 2px 2px 2px black;
}
.epBox h3{
    color: rgb(160, 87, 230);
    text-shadow: 2px 2px 2px black;
}
